<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="background: black;padding-top: 50px;padding-bottom: 50px;margin: auto;z-index: 999">


  <div  class="row largefooterbox">

    <div id="r1" style="margin-right: 1%;width: 20%">
      <div style="color: white">
        <p class="contenttitle" style="font-size: 25px;font-weight: 700">Zoo Bar & Grill</p>
        <div class="row">
          <div class="col-2">
            <span style="font-size: 24px;width: 40px" class="glyphicon glyphicon-map-marker"></span>
          </div>
          <div class="col-10">
            <span class="footer-content">
              17 London Cct,
              <br>
              Canberra ACT 2601
            </span>
          </div>
        </div>
      </div>
    </div>

    <div id="r4" style="margin-right: 2%;width: 20%">
      <div style="color: white">
        <p class="contenttitle" style="font-size: 25px;font-weight: 700">Opening Hour</p>
        <br>
        <div class="footer-content">
          Mon - Wed: 11am - 10pm
          <br>
          Thu: 11am - 12am
          <br>
          Fri - Sat: 11am -1am
          <br>
          Sun: Closed
          <br>
          Public Holidy: Closed
        </div>
      </div>
    </div>

        <div id="r2" style="margin-right: 2%;width: 25%">
          <div style="color: white">
            <p class="contenttitle" style="font-size: 25px;font-weight: 700">Contact us</p>
            <div class="row">
              <div class="col-2">
                <span style="font-size: 24px;width: 40px;font-weight: 800" class="glyphicon glyphicon-earphone"></span>
              </div>
              <div class="col-10">
                <span class="footer-content">
                  <a href="tel:0431819331" style="color: white;text-decoration: none">
                  0431 819 331
                  </a>
                </span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-2">
                <span style="font-size: 24px;width: 40px" class="glyphicon glyphicon-envelope"></span>
              </div>
              <div class="col-10">
                <span class="footer-content" >
                  <a href="mailto:info@zoobarandgrill.com.au" style="color: white;text-decoration: none">
                  info@zoobarandgrill.com.au
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div id="r5" style="margin-right: 4%;width:12%">
          <div style="color: white">
            <p class="contenttitle" style="font-size: 25px;font-weight: 700">Follow Us</p>
            <div class="row">
              <br>
<!--              <i style="font-size: 30px" class="fa fa-instagram"></i>-->
<!--              <i style="font-size: 30px" class="fa fa-facebook"></i>-->
              <a href="https://www.instagram.com/zoobarandgrill/"><img src="./../../assets/general/inst-icon.png" width="34" height="34"></a>
              <a href="https://www.facebook.com/ZOOBARANDGRILL/?ref=search&__tn__=%2Cd%2CP-R&eid=ARCNn-6b3xdhBYBE5lay
              1p3pkL_oScZ9Gq_rWgAyGFnm0HJzeA0oKWi7Q8FdqP47l1OM7d4RVx12j-Ki">
                <img src="./../../assets/general/FB_icon.png" width="40" height="34" style="padding-left: 10px">
              </a>
            </div>
          </div>

          <div style="color: white;">
            <p class="contenttitle" style="font-size: 25px;font-weight: 700">Review us</p>
            <div class="row" style="margin-top: 20px">
              <a href="https://www.google.com/search?rlz=1C5CHFA_enAU829AU830&sxsrf=ALeKk01qjGlUjb_DNo-zUiCZmEoIut1B
              Jw%3A1587519970710&ei=4qGfXtr3Kuma4-EPhdiL4AY&q=zoobarandgrill&oq=zoobarandgrill&gs_lcp=CgZwc3ktYWIQAzIEC
              CMQJzICCCY6BggAEAcQHjoECAAQQzoCCAA6BAgAEB46BggAEAoQHjoGCAAQDBAeOggIABAMEAoQHjoGCAAQChATOgoIABAMEAoQHhAT
              OggIABAMEB4QE1DbmcoBWM-nygFg3KjKAWgAcAB4AIABtgWIAZUbkgELMC4xLjMuMi4xLjKYAQCgAQGqAQdnd3Mtd2l6&sclient=ps
              y-ab&ved=0ahUKEwja8LXf9ProAhVpzTgGHQXsAmwQ4dUDCAw&uact=5#lrd=0x6b164dacce3b7e35:0x20fdb693cfc8a9ac,1,,,">
                <img src="./../../assets/general/googleicon.png" width="36" height="36">
              </a>
              <a href="https://www.tripadvisor.com.au/Restaurant_Review-g255057-d17432393-Reviews-Zoo_Bar_Grill-
              Canberra_Australian_Capital_Territory.html">
                <img src="./../../assets/general/tripadvisoricon.png" width="50" height="36" style="padding-left: 6px">
              </a>
              <a href="https://www.zomato.com/australian-capital-territory/zoo-bar-grill-civic-act">
                <img src="./../../assets/general/zoomatoicon.png" width="45" height="36" style="padding-left: 6px">
              </a>

            </div>
          </div>
        </div>

        <div style="width: 7%;margin-left: 7%">
          <img src="../../assets/general/Zoo_white.png" alt="zoo" style="width: 100%;">
        </div>



  </div>
  <br>
  <br>
  <hr class="largefooterbox" style="color: lightgrey;border: 1px solid white;">
  <p style="color: lightgrey;margin: auto;text-align: center">
    @ 2020 https://zoobarandgrill.com.au/Pty.Ltd. All Rights Reserved.
  </p>
  </div>

