<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="background: black;padding-top: 50px;padding-bottom: 50px;margin: auto;z-index: 999">


  <div  class="row largefooterbox">



        <div id="r1" style="margin-right: 2%;width: 20%">
          <div style="color: white">
            <p class="contenttitle" style="font-size: 25px;font-weight: 700">Zoo Bar & Grill</p>
            <div class="row">
              <div class="col-2">
                <span style="font-size: 24px;width: 40px" class="glyphicon glyphicon-map-marker"></span>
              </div>
              <div class="col-10">
                <span class="footer-content">
                  17 London Cct,
                  <br>
                  Canberra ACT 2601
                </span>
              </div>
            </div>
          </div>
        </div>

    <div id="r4" style="margin-right: 2%;width: 20%">
      <div style="color: white">
        <p class="contenttitle" style="font-size: 25px;font-weight: 700">Opening Hour</p>
        <br>
        <div class="footer-content">
          Mon - Wed: 11am - 10pm
          <br>
          Thu: 11am - 12am
          <br>
          Fri - Sat: 11am -1am
          <br>
          Sun: Closed
          <br>
          Public Holidy: Closed
        </div>
      </div>
    </div>

        <div id="r2" style="margin-right: 2%;width: 25%">
          <div style="color: white">
            <p class="contenttitle" style="font-size: 25px;font-weight: 700">Contact us</p>
            <div class="row">
              <div class="col-2">
                <span style="font-size: 24px;width: 40px;font-weight: 800" class="glyphicon glyphicon-earphone"></span>
              </div>
              <div class="col-10">
                <span class="footer-content">
                  0431 819 331
                </span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-2">
                <span style="font-size: 24px;width: 40px" class="glyphicon glyphicon-envelope"></span>
              </div>
              <div class="col-10">
                <span class="footer-content" >
                  info@zoobarandgrill.com.au
                </span>
              </div>
            </div>
          </div>
        </div>





        <div id="r5" style="margin-right: 2%;width:12%">
          <div style="color: white">
            <p class="contenttitle" style="font-size: 25px;font-weight: 700">Follow Us</p>
            <div class="row">
              <br>
              <a style="font-size: 30px" class="fa fa-instagram"></a>

              <a style="font-size: 30px" class="fa fa-facebook"></a>
            </div>
          </div>

          <div style="color: white;">
            <p class="contenttitle" style="font-size: 25px;font-weight: 700">Review us</p>
            <div class="row" style="margin-top: 20px">
              <a style="font-size: 30px" class="fa fa-google"></a>

              <a style="font-size: 30px" class="fa fa-tripadvisor"></a>

              <a style="font-size: 30px" class="fa fa-reddit"></a>

            </div>
          </div>
        </div>

        <div style="width: 7%;margin-left: 7%">
          <img src="../../assets/Zoo_Monogram_Gold.png" alt="zoo" style="width: 100%;">
        </div>



  </div>
  <br>
  <br>
  <hr class="largefooterbox" style="color: lightgrey;border: 1px solid white;">
  <p style="color: lightgrey;margin: auto;text-align: center">
    @ 2020 https://zoobarandgrill.com.au/Pty.Ltd. All Rights Reserved.
  </p>
  </div>

