.fa-google{
  background: #dd4b39;
  color: white;
  border-radius: 5px;
}
.fa-tripadvisor{
  background: #3B5998;
  color: white;
  border-radius: 5px;
}
.fa-reddit{
  background: #ff5700;
  color: white;
  border-radius: 5px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.fa{
  padding: 2%;
  margin-right: 10px;
}
.footer-content{
  font-size: 20px;
}
.largefooterbox{
  color: white;margin: auto;
}
@media screen and (max-width: 1400px){
  .largefooterbox{
    width: 96%;margin-left: 2%
  }
  .footer-content{
    font-size: 18px;
  }
}
@media screen and (min-width: 1400px){
  .footer-content{
    font-size: 20px;
  }
}
@media screen and (max-width: 1800px) and (min-width: 1400px){
  .largefooterbox{
    width: 90%;margin-left: 5%
  }
}
@media screen and (max-width: 2400px) and (min-width: 1800px){
  .largefooterbox{
    width: 80%;margin-left: 10%
  }
}
@media screen and (max-width: 3000px) and (min-width: 2400px){
  .largefooterbox{
    width: 70%;margin-left: 15%
  }
}
@media screen and (min-width: 3000px){
  .largefooterbox{
    width: 60%;margin-left: 20%
  }
}
.contenttitle{
  font-family: Oswald;
}
