<div style="position: fixed;">
  <app-navbar></app-navbar>
</div>
<!--<img src="../../assets/home-page-bg-1.png" id="abcde" style="width: 100%" alt="t">-->
<div id="first-image-background">
<div class="fixed-top" style="width: 41%;position: absolute;z-index: 1000;margin-top: 200px">
<div style="position:absolute; z-index:2; top:0; color: white; font-family: 'Roboto Condensed', sans-serif; text-align: left; width: 100%;background: rgba(200,200,200,0.2);padding-top: 50px;padding-bottom: 50px">
  <b class="bigwording">
    WELCOME TO
  </b>
  <br>
  <b class="bigwording">
    ZOO BAR & GRILL
  </b>
  <br>
  <br>
  <p class="smallwording">
    Our Multi Level venue has all to offer, starting
  </p>
  <p class="smallwording">
    from ground level with our funky bar & grill. With
  </p>
  <p class="smallwording">
    a diverse range of food, drinks and culture, Zoo
  </p>
  <p class="smallwording">
    Bar & Grill is your entertainment destination.
  </p>



</div>

</div>

<!--<img src="../../assets/home-page-bg-2.png" id="cdefg" style="width: 100%;" alt="t">-->
</div>

<div class="second-image-background">

</div>
<app-footer></app-footer>
