<div style="position: fixed;z-index: 1000">
  <app-navbar></app-navbar>
</div>
<!--content start-->
<div>
  <div>
    <img class="big" src="./../../assets/AboutPage/home-first-image-horse.jpg" alt="horse" >
    <!--transparent grey background and wording-->
    <div style="width: 40%;height: auto;background: rgba(	52, 62, 71,0.5);position: absolute;top: 200px;color: white;padding:70px 30px 70px 10px">
      <b class="title" >
        WELCOME TO
      </b>
      <br>
      <b class="title">
        ZOO BAR & GRILL
      </b>
      <br>
      <br>
      <br>
      <br>
      <p class="contentwords">
        Our Multi Level venue has all to offer, starting
      </p>
      <p class="contentwords">
        from ground level with our funky bar & grill. With
      </p>
      <p class="contentwords">
        a diverse range of food, drinks and culture, Zoo
      </p>
      <p class="contentwords">
        Bar & Grill is your entertainment destination.
      </p>
    </div>

  </div>
</div>



<!--four background images-->
<div class="row" style="width: 100%;margin-left: 0;margin-top: -1px">
  <img class="lefttop" src="./../../assets/AboutPage/home-second-lefttop.jpg" alt="dishes" >
  <img class="righttop" src="./../../assets/AboutPage/home-second-righttop.jpg" alt="dishes" >
  <img class="leftbottom" src="./../../assets/AboutPage/home-second-leftbottom.JPG" alt="dishes" >
  <img class="rightbottom" src="./../../assets/AboutPage/home-second-rightbottom.jpg" alt="dishes" >
</div>

<!--left top corporate-->
<div style="position: absolute;top: 100vh;left: 10%;width: 30%">
  <div style="position: absolute;background: rgba(120, 145, 115,0.9);width:100%;height: 40vh;color: white;padding: 6%;text-align: center;margin-top: 8vh">
           <b class="bigwording" style="z-index: 0;font-size: 30px;text-align: center">
            ZOO BAR & GRILL
          </b>
          <hr style="border: 2px solid white;width: 20%">
          <div style="width: 80%;margin-left: 10%">
          <b class="smallwording" style="padding: 0;font-size: 20px">
            ZOO BAR & GRILL creates an enchanting experience keeping the urban lifestyle alive in the heart of the city.
          </b>
            <br>
            <br>
            <button class="btn" style="background: transparent;color: white;border: 2px solid white;width:40%;font-size: 20px;text-align: center">More</button>
          </div>

  </div>
</div>

<!--right top corporate-->
<div style="position: absolute;top: 100vh;left: 50%;width: 25%">
  <div style="position: absolute;background: #f8604b;width:100%;height: 40vh;color: white;padding: 3%;text-align: center">
    <b class="bigwording" style="z-index: 0;font-size: 30px;">
            <b class="bigwording" style="z-index: 0;font-size: 30px;text-align: center">
              HUSTLER
            </b>
            <hr style="border: 2px solid white;width: 20%">
            <div style="width: 80%;margin-left: 10%">
              <b class="smallwording" style="padding: 0;font-size: 20px">
                The urban vibed Hustler Lounge with pool tables, arcade games, and bar.
              </b>
              <div style="height: 30px"></div>
              <button class="btn" style="background: transparent;color: white;border: 2px solid white;width:40%;font-size: 20px;text-align: center">More</button>
            </div>
    </b>
  </div>
</div>

<!--left bottom corporate-->
<div style="position: absolute;top: 160vh;left: 25%;width: 25%">
  <div style="position: absolute;background: #dfac7e;width:100%;height: 40vh;color: white;padding: 3%;text-align: center">
    <b class="bigwording" style="z-index: 0;font-size: 30px;">
              CORPORATE
            </b>
            <hr style="border: 2px solid white;width: 20%">
            <div style="width: 100%;">
              <b class="smallwording" style="padding: 0;font-size: 20px">
                Enjoy our function spaces offering a panoramic view of the city where you will find everything you need to create your perfect event.
              </b>
              <br>
              <br>
              <button class="btn" style="background: transparent;color: white;border: 2px solid white;width:40%;font-size: 20px;text-align: center">More</button>
            </div>
  </div>
</div>


<!--right bottom nightclub-->
<div style="position: absolute;top: 145vh;left: 50%;width: 50%">
  <div style="position: absolute;background: rgba(153, 102, 204,0.8);width:60%;margin-left:20%;height: 40vh;margin-top: 5vh;text-align: center;color: white;padding: 10%">
    <b class="bigwording" style="z-index: 0;font-size: 30px;text-align: center;padding-left: 0%;">
              NIGHTCLUB
            </b>
            <hr style="border: 2px solid white;width: 20%">
            <div style="width: 80%;margin-left: 10%">
              <b class="smallwording" style="padding: 0;font-size: 20px">
                Coming Soon
              </b>
              <br>
              <br>
              <br>
              <br>
              <button class="btn" style="background: transparent;color: white;border: 2px solid white;width:40%;font-size: 20px;text-align: center">More</button>
              <br>
              <br>
              <br>
              <br>
            </div>
  </div>
</div>



<app-footer></app-footer>
