<app-navbar></app-navbar>
<img src="../../assets/home-page-bg-1.png" id="abcde" style="width: 100%" alt="t">
<div class="fixed-top" style="background: rgba(250,10,10,0.2);width: 41%;position: absolute;z-index: 1000;margin-top: 142px">
<div style="position:absolute; z-index:2; top:0; color: white; font-family: 'Roboto Condensed', sans-serif; text-align: left; width: 100%;background: rgba(250,10,10,0.2);padding-top: 8%">
  <b class="bigwording">
    WELCOME TO
  </b>
  <br>
  <b class="bigwording">
    ZOO BAR & GRILL
  </b>
  <br>
  <br>
  <p class="smallwording">
    Our Multi Level venue has all to offer, starting
  </p>
  <p class="smallwording">
    from ground level with our funky bar & grill. With
  </p>
  <p class="smallwording">
    a diverse range of food, drinks and culture, Zoo
  </p>
  <p class="smallwording">
    Bar & Grill is your entertainment destination.
  </p>


  <br>
  <br>
  <button></button>

</div>
</div>

<img src="../../assets/home-page-bg-2.png" id="cdefg" style="width: 100%;" alt="t">

<app-footer></app-footer>
