<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <div class="row">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" >
      <ul class="nav navbar-nav">
        <li class="nav-item listofnavbar"><a class="nav-link initial" id="about" href="#">ABOUT</a></li>
        <li class="nav-item listofnavbar"><a class="nav-link " id="zoobargrill"  href="#">ZOO BAR & GRILL</a></li>
        <li class="nav-item listofnavbar"><a class="nav-link " id="hustler"  href="#">HUSTLER</a></li>
        <li class="nav-item listofnavbar"><a class="nav-link " id="corporate"  href="#">CORPORATE</a></li>
        <li class="nav-item listofnavbar"><a class="nav-link " id="nightclub"  href="#">NIGHTCLUB</a></li>
        <li class="nav-item listofnavbar"><a class="nav-link " id="functionevent"  href="#">FUNCTION & EVENT</a></li>
        <li class="nav-item listofnavbar"><a class="nav-link " id="contact"  href="#">CONTACT</a></li>


      </ul>
    </div>

  </div>
</nav>
