.nav-link{
  font-weight: 500;
  font-size: 1.5vw;
  color: white;
  margin: auto;
  font-family: Oswald;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  height: 100px;
  padding-top: 0;
  text-align: center;
  margin-top: 0;
}
.row{
  margin: auto;
}
#about{
  color: white;
  background: transparent;height: 100px;padding-top: 40px;
}
#zoobargrill{
  color: white;
  background: transparent;height: 100px;padding-top: 40px;
}
#hustler{
  color: white;
  background: transparent;height: 100px;padding-top: 40px;
}
#corporate{
  color: white;
  background: transparent;height: 100px;padding-top: 40px;
}
#nightclub{
  color: white;
  background: transparent;height: 100px;padding-top: 40px;
}
#functionevent{
  color: white;
  background: transparent;height: 100px;padding-top: 40px;
}
#contact{
  color: white;
  background: transparent;height: 100px;padding-top: 40px;
}

.listofnavbar{
  padding-left: 20px;
  padding-right: 20px;

}
.listofnavbar:hover{
  background: rgba(200,200,200,0.8);
  height: auto;
}
.listofnavbar:hover #about{
  color: black;
}
.listofnavbar:hover #zoobargrill{
  color: black;
}
.listofnavbar:hover #hustler{
   color: black;
 }
.listofnavbar:hover #corporate{
  color: black;
}
.listofnavbar:hover #nightclub{
  color: black;
}
.listofnavbar:hover #functionevent{
  color: black;
}
.listofnavbar:hover #contact{
  color: black;
}

.navbar{
  margin-top: 0;
  padding-top: 0;
  z-index: 1000;background: rgba(100,100,100,0.7);height: 100px;margin-bottom: 0
}
.navbar-nav{
  height:100px;padding-top:0px
}
