<div  style="position: fixed;z-index: 1000">
  <app-navbar></app-navbar>
</div>
<div class="whole_night_club" style="z-index: -1">
    <div class="image_body">

        <div class="first_image">
            <img class="nightclub_image" src="./../../assets/nightclub/IMG_20200305_233435_590.jpg">
        </div>

    </div>
<!--    <div class="text_words">-->
<!--        <div class="text_coming_soon_l">-->
<!--            STAY TUNED-->
<!--        </div>-->
<!--    </div>-->

  <div style=" left: 32%; height: auto; background: rgba(	52, 62, 71,0.5); position: absolute; top: 30vh; color: white; padding: 70px 30px 70px 30px;width:36%;padding:auto">
    <div class="textual_section_second" style="display: table;  padding-top: 5vh; padding-bottom: 5vh;text-align:center;padding:auto;margin:auto">
      <div style="height: auto;margin: auto;display: table-cell;
    vertical-align: middle;">
        <h1 class="text_coming_soon_l" style="  font-family: Oswald;">
          STAY TUNED
        </h1>
      </div>
    </div>
  </div>


</div>

<div class="footer_body">
    <app-footer></app-footer>
</div>
