<div class="whole_night_club">
    <div class="navbar_include">
        <app-navbar></app-navbar>
    </div>
    <div class="image_body">
        
        <div class="first_image">
            <img class="nightclub_image" src="./../../assets/nightclub/IMG_20200305_233435_590.jpg">
        </div>
        <div class="second_image">
            <img class="nightclub_image" src="./../../assets/nightclub/IMG_20200305_233226_606.jpg">   
        </div>
        <div class="third_image">
            <img class="nightclub_image" src="./../../assets/nightclub/IMG_20190809_234444.jpg">
        </div>
        <div class="fourth_image">
            <img class="nightclub_image" src="./../../assets/nightclub/IMG_20190726_202212.jpg">
        </div>
    </div>
    <div class="text_words">
        <div class="text_coming_soon_l">
            STAY TUNED
        </div>
    </div>
</div>

<div class="footer_body">
    <app-footer></app-footer>
</div>
