<div  style="position: fixed;z-index: 1000">
  <app-navbar></app-navbar>
</div>
<div class="whole_night_club" style="z-index: -1">
    <div class="image_body">

        <div class="first_image">
            <img class="nightclub_image" src="./../../assets/nightclub/IMG_20200305_233435_590.jpg">
        </div>

    </div>
    <div class="text_words">
        <div class="text_coming_soon_l">
            STAY TUNED
        </div>
    </div>
</div>

<div class="footer_body">
    <app-footer></app-footer>
</div>
