<div style="position: fixed;z-index: 1000; top: 0">
  <app-navbar></app-navbar>
</div>

<!-- Injecting a max width -->
<div class="whole_contact_body">
<!--    <app-navbar></app-navbar>-->
    <div class="empty_space"></div>
  <div class="empty_space"></div>
  <div class="empty_space"></div>
    <div class="title_section">
        <div class="title_body">
            <div class="title_contact">
                CONTACT US
            </div>
        </div>
<!--        <div class="logo_space">-->
<!--            <img class="logo_image" src="./../../assets/general/Zoo_Monogram_Gold.png" />-->
<!--        </div>-->
    </div>
    <div class="contact_body">
        <div class="empty_area"></div>
        <div class="left_text_section">
            <div class="location_area">
                <div class="left_location_title contenttitle">
                    Location
                </div>
                <div class="actual_address">
                    <div class="actual_address_first_line">
                        17 London Cct,
                    </div>
                    <div class="actual_addres_second_line">
                        Canberra ACT 2601
                    </div>
                </div>
            </div>
            <div class="phone_area">
                <div class="phone_title contenttitle">
                    Phone
                </div>
                <div class="phone_number">
                    0431&nbsp;819&nbsp;331
                </div>
            </div>
            <div class="opening_hours">
                <div class="opening_hour_title contenttitle">
                    Opening Hour
                </div>
                <div class="opening_hours_duration">
                    <p class="days_duration">
                        Mon &#8211; Wed: 11am &#8211; 10pm<br>
                        Thu: 11am &#8211; 12am <br>
                        Fri &#8211; Sat: 11am &#8211; 1am<br>
                        Sun: Closed<br>
                        Public Holiday: Closed
                    </p>
                </div>
            </div>
            <div class="enquire_button">
                <button type="button" class="enquire_button_btn contenttitle" (click)="scrollDown()">
                    Enquire
                </button>
            </div>
        </div>
        <div class="right_map_section">
            <!-- MAP AREA -->
            <div class="mapouter" style="z-index: -1">
                <div class="gmap_canvas">
                    <iframe width="750" height="500" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=zoobar+and+gril&oq=zoobar+and+gril&aqs=chrome..69i57j0l7.2697j0j7&sourceid=chrome&ie=UTF-8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://www.embedgooglemap.net/blog/elementor-review/"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="enquiry_section" id="enquiry_section">
        <div class="enquiry_heading contenttitle">
            ENQUIRES
        </div>
        <div class="enquiry_body">
            <div class="first_row">
                <div class="name_section">
                    <input type="text" placeholder="Name" class="text_box" [(ngModel)]="customerName" />
                    <div [hidden]="!nameShow" class="error_message">
                        This field is required
                    </div>
                </div>
                <div class="mobile_section">
                    <input type="text" placeholder="Mobile" class="text_box" [(ngModel)]="customerMobile" />
                    <div [hidden]="!mobileShow" class="error_message">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="second_row">
                <div class="email_section">
                    <input type="text" placeholder="Email" class="text_box" [(ngModel)]="customerEmail" />
                    <div [hidden]="!emailShow" class="error_message">
                        This field is required
                    </div>
                    <div [hidden]="!invalidEmail" class="error_message">
                        The email address entered is invalid
                    </div>
                </div>
                <div class="subject_section">
                    <input type="text" placeholder="Subject" class="text_box" [(ngModel)]="customerSubject" />
                  <div [hidden]="!subjectShow" class="error_message">
                    This field is required
                  </div>
                </div>
            </div>
            <div class="message_box">
                <textarea placeholder="Message" [(ngModel)]="customerMessage" class="text_area_box"
                rows="10" cols="0">
                </textarea>
                <div [hidden]="!enquiryMessageShow" class="error_message">
                    This field is required
                </div>
            </div>
            <div class="submit_button" (click)="formsubmit()">
                <button type="button" class="enquire_button_btn">
                    {{submitBut}}
                </button>


                <div class="big_error_message" [hidden]="!bigErrorShow">
                    One or more fields have an error. Please check and try again.
                </div>

                <div class="success_message" [hidden]="!showSuccessMessage">
                    &#10003; Thanks for submitting your enquiry. We will get in touch with you very soon.
                </div>

            </div>
        </div>
    </div>
    <div class="empty_space"></div>

    <div class="footer_section">
        <app-footer></app-footer>
    </div>
</div>




<!--COntact us location 等往右一点，17 London Cct往左一点，engquire字体大一点，和地图对其，地图往左一点， phone字体一致-->
<!--submit 字体放大-->
