<div style="position: fixed;z-index: 1000">
  <app-navbar></app-navbar>
</div>
<div>
  <div>

    <img class="big" src="./../../assets/AboutPage/home-second-lefttop.jpg" alt="Paris" >
    <div style="width: 40%;height: auto;background: rgba(200,200,200,0.3);position: absolute;top: 200px;color: white;padding:70px 30px 70px 10px">

      <b class="bigwording" >
        ZOO BAR & GRILL
      </b>
      <br>
      <b class="bigwording">
        MENU
      </b>
      <br>
      <br>
      <br>
      <br>
      <p class="smallwording">
        Zoo Bar and Grill is known for throwing the best parties, and that can be hungry work! We also pride ourselves on
        a diverse a d delicious food menu, offering choice and value.
      </p>
    </div>

  </div>
</div>


<div class="row" style="width: 100%;margin-left: 0;">
  <img id="menusame" class="menugreeneat " src="./../../assets/Menu-Drink/Menu-green-eat.jpg" alt="Paris" style="width: 50%">
  <img class="menushare " src="./../../assets/Menu-Drink/menu-share.jpg" alt="Paris"  style="width: 25%">
  <img id="menumain" class="menumain " src="./../../assets/Menu-Drink/menu-mains.jpg" alt="Paris" style="width: 25%">
</div>

<div class="row" style="width: 100%;margin-left: 0;">
  <img class="menushare " src="./../../assets/Menu-Drink/menu-grill.jpg" alt="Paris"  style="width: 25%">
  <img class="menumain " src="./../../assets/Menu-Drink/menu-slides.jpg" alt="Paris" style="width: 25%">

  <img  class="menugreeneat " src="./../../assets/Menu-Drink/Menu-orange-feeding.jpg" alt="Paris" style="width: 50%">
</div>



<app-footer></app-footer>
