<div style="position: fixed;z-index: 1000">
  <app-navbar></app-navbar>
</div>
<div>
  <div>

    <img class="big" src="./../../assets/Menu-Drink/drink-first-bf.jpg" alt="drink" >
    <div style="width: 40%;height: auto;background: rgba(	52, 62, 71,0.5);position: absolute;top: 200px;color: white;padding:70px 30px 70px 10px">

      <b class="bigwording" >
        ZOO BAR & GRILL
      </b>
      <br>
      <b class="bigwording">
        DRINK
      </b>
      <br>
      <br>
      <br>
      <br>
      <p class="smallwording">
        Our Bar is Massive, building on the History of the Location, then taken up a notch with the broadest array of Cocktails/Spirits/Wine & Tap Beer in Civic.

      </p>
    </div>

  </div>
</div>



<!--<img id="menumain" class="menumain " src="./../../assets/Menu-Drink/menu-mains.jpg" alt="Paris" style="width: 25%;height: auto">-->

<div class="" style="width: 100%;margin-left: 0;">
  <img id="menusame" class="menugreeneat " src="./../../assets/Menu-Drink/drink-blue.jpg" alt="blue" style="width: 25%;">
  <img class="menushare " src="./../../assets/Menu-Drink/drink-classic.jpg" alt="classic"  style="width: 25%;">
  <img class="menumain " src="./../../assets/Menu-Drink/drink-moet.jpg" alt="moet" style="width: 25%;">
  <img class="menumain " src="./../../assets/Menu-Drink/drink-white.jpg" alt="white" style="width: 25%;">
</div>




<app-footer></app-footer>
