<div class="whole_function_body">
    <div class="header_include">
        <app-navbar></app-navbar>
    </div>
    <div class="actual_body">
        <div class="logo_space">
            <img class="logo_image" src="./../../assets/general/Zoo_Monogram_Gold.png" />
        </div>
        <div class="first_section">
                <img class="monkey_bg" src="./../../assets/function_event/IMG_6788.jpg">
                <div class="textual_section">
                    <h1 class="bigwording">
                        WELCOME TO <br>
                        FUNCTION & EVENT
                    </h1>
                    <br>
                    <br>
                    <h5 class="smallwording">
                        The urban vibed Hustler Lounge with pool tables, arcade games, and bar.
                    </h5>
                    <div class="contact_button">
                        <button type="button" class="contact_button_btn" (click)="goToContact()">
                            Contact Us Now
                        </button>
                    </div>
                </div>
        </div>
        <div class="second_section">
            <div class="second_first_half">
                <img src="./../../assets/function_event/IMG_6723.jpg" class="tower_image"> 
            </div>
            <div class="second_second_half">
                <div class="second_second_first_row">
                    <div class="second_second_first_row_second">
                        <div class="textual_section_second">
                            <h1 class="bigwording_second">
                               INTRODUCTION
                            </h1>
                            <br>
                            <br>
                            <div class="smallwording_second">
                                <div class="shrink">
                                    The urban vibed Hustler Lounge with pool tables, arcade games, and bar.
                                </div>
                            </div>
                            <div class="contact_button_second">
                                <button type="button" class="contact_button_btn" (click)="goToContact()">
                                    Contact Us Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second_second_second_row">
                    <img src="./../../assets/function_event/IMG_6751.jpg" class="second_tower_image"> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_include">
    <app-footer></app-footer>
</div>