.whole_function_body {
    height: 100%;
    width: 100%;
}

.header_include {
    background: transparent;
    position: fixed;
}

.logo_space {
    flex-grow: 1;
    position: fixed;
    right: 0;
    top: 0;
}

.logo_image {
    height: 200px;
    width:150px;
    padding: 1%;
    background-position: cover;
}


.actual_body {

}
.first_section {
    position: inherit;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;

}

.monkey_bg {
    width: 100%;
    height: 100%;
}

.textual_section {
    padding: 1%;
    top: 25%;
    width: 50%;
    background:  rgba(51, 61, 71,  0.5);
    color: white;
    position: absolute;
}

.bigwording_t {
    padding-top: 10%;
    padding-left: 10%;
    font-size: 3.2vw;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(100,100,100);
}

.smallwording_t {
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    font-size: 1.9vw;
  font-weight: 400;
}

.contact_button {
    margin-left: 10%;
    padding-top: 50px;
}

.contact_button_btn {
    width: 200px;
    color: white;
    padding: 1%;
    background: transparent;
    border: 3px solid white;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
}

.second_section {
    display: flex;
    flex-wrap: wrap;
}

.second_first_half {
    flex-basis: 30%;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    object-fit: cover;

}

.tower_image {
    width: 100%;
    height: 100vh;
    position: inherit;
    background-position: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
}

.second_second_half {
    flex-grow: 1;
    width: 50%;
    height: 100vh;
    flex-direction: column;
}

.second_second_first_row  {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./../../assets/function_event/IMG_6766.jpg");
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;

}

.second_second_first_row_first {
    flex-basis: 40%;
    flex-direction: column;
}

.second_second_first_row_second {
    flex-direction: column;
    flex-grow: 1;
}

.second_second_second_row {
    width: 100%;
}

.second_tower_image {
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;

}


.textual_section_second {
    width: 50%;
    margin-top: -20px;
    height: 100%;
    background:rgba(80,119,207);
    color: white;
}

.bigwording_second {
    padding-top: 100px;
    text-align: center;
    font-size: 2.3vw;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(100,100,100);
}

.smallwording_second {
    width: 100%;
}

.shrink {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-size: 1.6vw;
}

.contact_button_second {
    text-align: center;
    padding-top: 50px;
}


@media screen and (max-width: 1200px) {
    .second_tower_image {
        width: 100%;
        height: 50vh;
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        object-fit: cover;
    }

    .tower_image {
        width: 100%;
        height: 100vh;
        position: inherit;
        background-position: cover;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        object-fit: cover;
    }

    .textual_section_second {
        width: 50%;
        margin-top: -20px;
        height: 100%;
        background:rgba(100,149,237);
        color: white;
    }

    .bigwording_second {
        padding-top: 70px;
        text-align: center;
        font-size: 2.5vw;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(100,100,100);
    }

    .second_second_first_row  {
        display: flex;
        flex-wrap: wrap;
        background-image: url("./../../assets/function_event/IMG_6766.jpg");
        width: 100%;
        height: 50vh;
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
}

@media screen and (max-width: 900px) {
    .logo_image {
        height: 100px;
        width:75px;
        padding: 1%;
        background-position: cover;
    }
}


@media screen and (max-width: 760px) {


    .textual_section {
        padding: 1%;
        top: 10%;
        text-align: left;
        width: 100%;
        height: 200px;
        background:  rgba(51, 61, 71,  0.5);
        color: white;
        position: absolute;
    }

    .bigwording_t {
        padding-top: 5%;
        padding-left: 20%;
        font-size: 5.2vw;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(100,100,100);
    }

    h3 {
        margin-top: -20px;
    }

    .smallwording_t {
        padding-top: -5%;
        padding-left: 20%;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        font-size: 15px;
    }

    .logo_image {
        height: 100px;
        width:75px;
        padding: 1%;
        background-position: cover;
    }

    .second_section {
        display: block;
    }

    .second_first_half {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .tower_image {
        width: 100%;
        position: inherit;
        background-position: cover;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        object-fit: cover;
        height: 100vh;
    }

    .second_second_half {
        width: 100%;
        height: 100%;
    }

    .second_second_first_row  {
        display: block;
        background-image: url("./../../assets/function_event/IMG_6766.jpg");
        width: 100%;
        height: 50vh;
        background-position: cover;
        background-size: cover;
        -webkit-background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;

    }

    .second_second_first_row_first {
        display: block;
    }

    .second_second_first_row_second {
        display: block;
    }

    .second_second_second_row {
        width: 100%;
    }

    .second_tower_image {
        width: 100%;
        height: 50vh;
    }


    .textual_section_second {
        width: 100%;
        top: 40%;
        transform: translate(0%, 50%);
        position: absolute;
        height: 300px;
        background:rgba(100,149,237);
        color: white;
    }

    .bigwording_second {
        padding-top: 50px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(100,100,100);
    }

    .smallwording_second {
        width: 100%;
    }

    .shrink {
        text-align: center;
        width: 50%;
        margin-left: 25%;
      font-size: 1.6vw;

    }

    .contact_button_second {
        text-align: center;
        padding-top: 50px;
    }

}
.title{
  font-size: 3.7vw;text-align: center;text-shadow: 1px 1px 1px rgb(100,100,100);padding-left: 10%;
}
.contentwords{
  font-size: 1.6vw;text-align: left;text-shadow: 1px 1px 1px rgb(100,100,100);padding-left: 10%;margin-top: -15px;
  font-weight: 300;
}
.big{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.smallwording{
  font-weight: 400;
}
.title {
  font-family: Oswald;
}

.shrink{
  font-family: Roboto;
}
