.parallax-wrapper{
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
}
.parallax-wrapper::before{
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("./../../assets/AboutPage/home-first-image-horse.jpg");
  position: absolute;
  z-index: -1;
  background-size: 100% 100%;
}
.regular-wrapper{
  margin-top: 0;
  width: 100%;
  height: 50vh;
  padding-top: 20vh;
  background-image:
    url("./../../assets/AboutPage/home-second-rightbottom.jpg"),
    url("./../../assets/AboutPage/home-second-leftbottom.JPG");

  background-size:
    33% 100%,
    33% 100%;

  background-position:
    left 0 top 0,
    left 100% top 0;
  background-repeat: no-repeat;
}
.regular-wrapper1{
  margin-top: 0;
  width: 100%;
  height: 50vh;
  padding-top: 20vh;
  background-image:
    /*url("./../../assets/AboutPage/home-second-lefttop.jpg"),*/
    url("./../../assets/AboutPage/home-second-lefttop.jpg");

  background-size:
    67% 100%;

  background-position:
    left 100% top 0;
  background-repeat: no-repeat;

}
.content{
  margin: 0;
  padding: 50px;
  width: 50%;
  background: rgba(46,139,87,1);
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  margin-left: 30px;
}

.content1{
  margin: 0;
  padding: 50px;
  width: 50%;
  background: rgba(46,139,87,1);
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  margin-left: 30px;
}
.title{
  font-size: 3.7vw;text-align: center;text-shadow: 1px 1px 1px rgb(100,100,100);padding-left: 10%;
}
.contentwords{
  font-size: 1.5vw;text-align: left;text-shadow: 1px 1px 1px rgb(100,100,100);padding-left: 10%;margin-top: -15px;
  font-weight: 300;
}
.secondrightphoto {
  width:66.666%;
  height:50vh;
  object-fit:cover;
}
.thirdleftphoto{
  width:66.666%;
  height:50vh;
  object-fit:cover;
}
.firstleftphoto{
  width: 33.333%;
  height: 50vh;
  object-fit: cover;
}
.firstrightphoto{
  width: 33.333%;
  height: 50vh;
  object-fit: cover;
}

.big{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.title{
  font-family: Oswald;
}
.contenttitle{
  font-family: Oswald;
}
