<div style="position: fixed;z-index: 1000">
  <app-navbar></app-navbar>
</div>
<!--content start-->
<div>
  <div>
    <img class="big" src="./../../assets/AboutPage/home-first-image-horse.jpg" alt="horse" >
    <!--transparent grey background and wording-->
    <div style="width: 40%;height: auto;background: rgba(200,200,200,0.3);position: absolute;top: 200px;color: white;padding:70px 30px 70px 10px">
      <b class="title" >
        WELCOME TO
      </b>
      <br>
      <b class="title">
        HUSTLER
      </b>
      <br>
      <br>
      <br>
      <br>
      <p class="contentwords">
        The urban vibed Hustler Lounge with pool tables, arcade games, and bar
      </p>
    </div>

  </div>
</div>

<!--First line dish with introduction in the middle-->
<div class="row" style="width: 100%;margin-left: 0;">
  <img class="firstleftphoto" src="./../../assets/AboutPage/home-first-image-horse.jpg" alt="horse" >
  <div class="content" style="margin-left: 0;width: 33.333%;top: 0;z-index: 2;text-align: center;padding: 20px;background: #dd4b39">
    <div style="width: 90%;margin-left: 8%;">
      <h1>INTRODUCTION</h1>
      <br>
      <p style="font-size: 18px">
        the urban vibed Hustler Lounge with pool tables, arcade games, and bar.
      </p>
      <br>
    </div>
  </div>
  <img class="firstrightphoto" src="./../../assets/AboutPage/home-second-leftbottom.JPG" alt="meetingroom" >
</div>


<!--Second line dish with menu in the left-->
<div class="row" style="width: 100%;margin-left: 0;margin-top: -1px">
  <img class="secondleftphoto" src="./../../assets/AboutPage/home-second-leftbottom.JPG" alt="dishes" >
  <img class="secondrightphoto" src="./../../assets/AboutPage/home-second-lefttop.jpg" alt="dishes" >
</div>




<app-footer></app-footer>
