<div style="position: fixed;z-index: 1000">
  <app-navbar></app-navbar>
</div>
<!--content start-->
<div>
  <div>
    <img class="big" src="./../../assets/HustlerPage/hustler-first-bf.jpg" alt="horse" >
    <!--transparent grey background and wording-->
    <div style="width: 40%;height: auto;background: rgba(	52, 62, 71,0.5);position: absolute;top: 200px;color: white;padding:70px 30px 70px 10px">
      <b class="title" >
        WELCOME TO
      </b>
      <br>
      <b class="title">
        HUSTLER
      </b>
      <br>
      <br>
      <br>
      <br>
      <p class="contentwords">
        The urban vibed Hustler Lounge with pool tables, arcade games, and bar
      </p>
    </div>

  </div>
</div>

<!--First line dish with introduction in the middle-->
<div class="row" style="width: 100%;margin-left: 0;">
  <img class="firstleftphoto" src="./../../assets/HustlerPage/hustler-environment.jpg" alt="horse" >
  <div class="content" style="margin-left: 0;width: 33.333%;top: 0;z-index: 2;text-align: center;padding: 20px;background: #f8604b">
    <div style="width: 90%;margin-left: 8%;display: table;height: 100%">
      <div style="height: auto;margin: auto;display: table-cell;
    vertical-align: middle;">
      <h1 class="contenttitle">INTRODUCTION</h1>
      <br>
      <p style="font-size: 18px">
        the urban vibed Hustler Lounge with pool tables, arcade games, and bar.
      </p>
      <br>
    </div>
    </div>
  </div>
  <img class="firstrightphoto" src="./../../assets/HustlerPage/hustler-catoon.jpg" alt="meetingroom" >
</div>


<!--Second line dish with menu in the left-->
<div class="row" style="width: 100%;margin-left: 0;margin-top: -1px">
  <img class="secondleftphoto" src="./../../assets/HustlerPage/hustler-pink.jpg" alt="dishes" >
  <img class="secondrightphoto" src="./../../assets/HustlerPage/hustler-woman-ball.jpg" alt="dishes" >
</div>






<app-footer></app-footer>
