<div style="position: fixed;z-index: 1000">
<app-navbar></app-navbar>
</div>
<!--content start-->
<div id="first_id" >
  <div >
    <img class="big" src="./../../assets/ZoobargrillPage/overview-first-bg_shrink.jpg" alt="first bg" >
    <!--transparent grey background and wording-->
    <div style="width: 40%;height: auto;background: rgba(	52, 62, 71,0.5);position: absolute;top: 200px;color: white;padding:70px 30px 70px 10px">
          <b class="title" >
            WELCOME TO
          </b>
          <br>
          <b class="title">
            ZOO BAR & GRILL
          </b>
          <br>
          <br>
      <br>
      <br>
          <p class="contentwords">
            Our Multi Level venue has all to offer, starting
          </p>
          <p class="contentwords">
            from ground level with our funky bar & grill. With
          </p>
          <p class="contentwords">
            a diverse range of food, drinks and culture, Zoo
          </p>
          <p class="contentwords">
            Bar & Grill is your entertainment destination.
          </p>
    </div>

  </div>
</div>

<!--First line two photos in the left and right-->
<div class="" id="second_id" style="width: 100%;margin-left: 0;">
  <img class="firstleftphoto" src="./../../assets/ZoobargrillPage/overview-tiger.jpg" alt="tiger" >
  <img class="firstrightphoto" src="./../../assets/ZoobargrillPage/overview-monkey.jpg" alt="monkey" style="margin-left: 33.333%">
</div>

<!--First line middle word nightclub-->
<div style="position: absolute;top: 100vh;left: 33.333%;width: 33.34%">
  <div style="position: absolute;background: rgba(46,139,87,1);width:100%;height: 65vh;text-align: center;color: white;display: table;padding-left: 10%;padding-right: 10%">
    <div style="height: auto;margin: auto;display: table-cell;
    vertical-align: middle;">
        <h1 class="contenttitle">INTRODUCTION</h1>
          <br>
        <p style="font-size: 20px">
          Zoo Bar & Grill
          <br>
          creates an enchanting experience keeping the urban lifestyle alive in the heart of the city.
          <br>
          With a diverse range of food, drinks and culture, Zoo Bar & Grill is your entertainment destination.
        </p>
          <br>
    </div>
  </div>
</div>



<!--Second line dish in the right-->
<div class="row" style="width: 100%;margin-left: 0;margin-top: -1px">
<img class="secondrightphoto" src="./../../assets/ZoobargrillPage/overview-food.jpg" alt="dishes" style="margin-left: 33.333%">
</div>



<!--Second line middle word nightclub-->
<div style="position: absolute;top: 165vh;left: 0;width: 33.34%">
  <div style="position: absolute;background: rgba(46,139,87,1);width:100%;height: 65vh;text-align: center;color: white;padding-left: 10%;padding-right: 10%;display: table">
    <div style="height: auto;margin: auto;display: table-cell;
    vertical-align: middle;">
        <h1 class="contenttitle">MENU</h1>
        <hr style="border: 2px solid white;width: 80px">
        <p style="font-size: 20px">
          Zoo Bar & Grill
          <br>
          is known for throwing the best parties, and that can be hungry work!
          <br>
          We also pride ourselves on a diverse and delicious food menu, offering choice and value.
        </p>
        <br>
        <button class="btn" [routerLink]="['/menu']" style="border: 2px solid white;border-radius: 0;background: transparent;font-size: 20px;color: white;width: 120px">Menu</button>
    </div>
    </div>
</div>



<!--Third line dish with drinks in the left-->
<div class="row" style="width: 100%;margin-left: 0;margin-top: -1px">
  <img class="thirdleftphoto" src="./../../assets/ZoobargrillPage/overview-wines.jpg" alt="Paris" >
<!--  <div id="greencontent3" class="content" style="margin-left: 0;width: 33.333%;top: 0;z-index: 2;text-align: center;padding: 20px">-->
<!--    <div style="width: 84%;margin-left: 8%;">-->
<!--      <h1>DRINKS</h1>-->
<!--      <hr style="border: 2px solid white;width: 80px">-->
<!--      <p style="font-size: 18px">-->

<!--        Enjoy a drink in our spacious Zoo Bar and Grill, is a truly enjoyable experience. There is a full range of-->
<!--        bar drinks including a wide selection of spirits, Whisky, Brandy and Liqueurs, soft drinks and beers. The wine List includes a variety and styles.-->
<!--      </p>-->
<!--      <br>-->
<!--      <button class="btn" style="border: 2px solid white;border-radius: 0;background: transparent;font-size: 20px;color: white;width: 120px">Drinks</button>-->
<!--    </div>-->
<!--  </div>-->
</div>


<!--Second line middle word nightclub-->
<div style="position: absolute;top: 230vh;left: 66.666%;width: 33.34%">
  <div style="position: absolute;background: rgba(46,139,87,1);width:100%;height: 65vh;text-align: center;color: white;padding-left: 10%;margin-top: -1px;padding-right: 10%;display: table">
    <div style="height: auto;margin: auto;display: table-cell;
    vertical-align: middle;">
    <h1 class="contenttitle">DRINKS</h1>
          <hr style="border: 2px solid white;width: 80px">
          <p style="font-size: 18px">

            Enjoy a drink in our spacious Zoo Bar and Grill, is a truly enjoyable experience. There is a full range of
            bar drinks including a wide selection of spirits, Whisky, Brandy and Liqueurs, soft drinks and beers. The wine List includes a variety and styles.
          </p>
          <br>
          <button class="btn" [routerLink]="['/drink']" style="border: 2px solid white;border-radius: 0;background: transparent;font-size: 20px;color: white;width: 120px">Drinks</button>
  </div>
  </div>
</div>
<app-footer></app-footer>
