<app-navbar></app-navbar>
<div class="parallax-wrapper">
  <div class="content" style="background: rgba(200,200,200,0.3)">

    <b class="bigwording" >
      WELCOME TO
    </b>
    <br>
    <b class="bigwording">
      ZOO BAR & GRILL
    </b>
    <br>
    <br>
    <p class="smallwording">
      Our Multi Level venue has all to offer, starting
    </p>
    <p class="smallwording">
      from ground level with our funky bar & grill. With
    </p>
    <p class="smallwording">
      a diverse range of food, drinks and culture, Zoo
    </p>
    <p class="smallwording">
      Bar & Grill is your entertainment destination.
    </p>


  </div>
</div>
<!--<div id="regular-wrapper" class="regular-wrapper" style="margin-top: -40px">-->

<!--  <div id="greencontent" class="content" style="margin-left: 33%;width: 34%;top: 0">-->
<!--    <p>-->
<!--      The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing t-->
<!--      o be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is, and would-->
<!--      essentially be like this:-->
<!--    </p>-->
<!--  </div>-->



<!--</div>-->
<div class="row" style="width: 100%;margin-left: 0;margin-top: -100px">
  <img class="one" src="./../../assets/AboutPage/home-first-image-horse.jpg" alt="Paris" >
  <div id="" class="content" style="margin-left: 0;width: 34vw;top: 0;z-index: 2">
    <p>
      The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing t
      o be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is, and would
      essentially be like this:
    </p>
  </div>
  <img class="two" src="./../../assets/AboutPage/home-second-leftbottom.JPG" alt="Paris" >
</div>

<div class="row" style="width: 100%;margin-left: 0;margin-top: -1px">
<div id="greencontent2" class="content" style="margin-left: 0;width: 33vw;top: 0;z-index: 2">
  <p>
    The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing t
    o be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is, and would
    essentially be like this:
  </p>
</div>
<img class="three" src="./../../assets/AboutPage/home-second-lefttop.jpg" alt="Paris" >
</div>

<div class="row" style="width: 100%;margin-left: 0;margin-top: -1px">
  <img class="three" src="./../../assets/AboutPage/home-second-lefttop.jpg" alt="Paris" >
  <div id="greencontent3" class="content" style="margin-left: 0;width: 33vw;top: 0;z-index: 2">
    <p>
      The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing t
      o be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is, and would
      essentially be like this:
    </p>
  </div>
</div>

<app-footer></app-footer>
