<app-navbar></app-navbar>
<div class="navbar"><span>CSS Parrallax Scrolling tutorial</span></div>
<div class="parallax-wrapper">
  <div class="content">
    <p>
      The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing t
      o be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is, and would
      essentially be like this:
    </p>

    <p>
      The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing t
      o be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is, and would
      essentially be like this:
    </p>

    <p>
      The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing t
      o be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is, and would
      essentially be like this:
    </p>
  </div>
</div>
<div class="regular-wrapper">
  <div class="content">
    <p>
      The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing t
      o be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is, and would
      essentially be like this:
    </p>

    <p>
      The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing t
      o be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is, and would
      essentially be like this:
    </p>

    <p>
      The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing t
      o be in the HTML. While the end result is not actually in the DOM, it appears on the page as if it is, and would
      essentially be like this:
    </p>
  </div>
</div>
